
body {
    margin: 0
px
;
    padding: 0
px
;
    background: #4345ca;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt;
    font-weight: 300;
    color: #f7f4f4;
}
html, body {
    height: 100%;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}